<div class='container' id='phaser-page'>
  <div class='loader'></div>
  <nav class="navbar navbar-light bg-faded fixed-top">
      <a class="navbar-brand" href="/">Weird Armies</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-right nav-item nav-link" href="/signup">Register<span class="sr-only">(current)</span></a>
          {{> login-status/login-block}}
          {{> login-status/dashboard-block}}
      </div>
    </div>
  </nav>

  <div class='phaser-background'>
    <div class='game-window-section row' id='game-window'>
    </div>

    <div class='row'>
      <div id='allies-stats'>
        <div class='panel panel-default table-stats'>
          <div class='panel-heading' id='stats-heading'>Ally Stats</div>
          <div class='panel-body'>
            <p>You'll have the chance to move each member of your team strategically across the board toward the enemy base. Each unit can move one space diagonally or two spaces straight ahead, backwards, to the left, or to the right.</p>

            <p>The enemy will try to stop you with their carefully erratic movements and unpredictable strategy. Evade or attack, but make sure you get to the enemy's base before they get to yours.</p>

            <p>You win when a player from your ally forces occupies the enemy's base!</p>
          </div>
          <table class='table statsTable'>
            <tr>
              <th>Name</th>
              <th>Race</th>
              <th>Age</th>
              <th>Class</th>
              <th>Weapon</th>
              <th>Attack Value</th>
              <th>Defense Value</th>
              <th>Health</th>
            </tr>
            {{#each allies}}
              <tr class='trAlliesList'>
                <td>{{name}}</td>
                <td>{{race}}</td>
                <td>{{age}}</td>
                <td>{{class}}</td>
                <td>{{weapon}}</td>
                <td>{{attack_value}}</td>
                <td>{{defense_value}}</td>
                <td id='{{name}}'>{{health}}</td>
              </tr>
            {{/each}}     
          </table>
          <br>
        </div>
      </div>
    </div>

    <div class='footer row' id='footer-section'>
      <div class='footer-content'>
        <div class='col-md-7'>
          <h4>&copy Copyright 2017 Weird Armies</h4>
        </div>
        <div class='col-md-5'>
          <h3>Get Started</h3>
          <ul>
            <li><a href='/signup'>Register<span class='sr-only'>(current)</span></a></li>
                  {{> login-status/login-block2}}
            <li><a href='/about'>About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
