<div class='openGamesContainer'> 
	<div class='row'>
		<div class='panel panel-default'>
			<div class='panel-heading'>Your Active Games</div>
			<table class='table openGamesTable'>
				<tr>
					<th>Game ID</th>
					<th>Players</th>
					<th>{{first_player}} Score</th>
					<th>{{second_player}} Score</th>
					<th>Turn</th>
					<th>Final Score</th>
				</tr>
				{{#each games}}
					<tr class='trGameList'>
						<td>{{id}}</td>
						<td>{{first_player}} vs. {{second_player}}</td>
						<td>{{first_player_score}}</td>
						<td>{{second_player_score}}</td>
						<td>{{turn}}</td>
						<td>{{first_player_score}} + {{second_player_score}}</td>
						<td><button class='joinGame btn btn-md btn-primary' data-id={{id}}>View</button></td>
					</tr>
				{{/each}}			
			</table>
			<br>
		</div>
	</div>
</div>